#encabezado{
  background-color: #5B7989;
  border-radius: 10px 10px 0px 0px;
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-flow: row;
}

#encabezado h1{
  color: white;
  font-size: 40px;
  padding: 1px 1px 1px 1px;
  margin: 5px 0.5px 0.5px 10px;
  flex: 2 1 65%;
  order: 1;
  text-shadow: 2px 2px 2px #02010a;
}

#encabezado navbar{
  font-size: 20px;
  padding: 1px 1px 1px 1px;
  margin: 10px 0.5px 0.5px 10px;
  flex: 1 1 25%;
  order: 2;
}

#encabezado navbar a{
  color: white;
}

@media (max-width:420px) {
  #encabezado{
    display: flex;
    flex-flow: column;
  }
  #encabezado h1{
    font-size: 20px;
    text-align: center;
  }
  #encabezado navbar{
    text-align: center;
    font-size: 17px;
  }
}
